.border-bottom {
    border-bottom: 1px solid #ff000d;
  }
  table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}
.table-container { 
    width: 100% !important;
    overflow-x: scroll; 
}

th, td { min-width: 95px; padding:8px;}
